<div class="well" style="max-width: 400px; margin: 0 auto 10px;">
	<%= link_to "Particulier", comptes_infos_particulier_path, :class => 'btn btn-large btn-block btn-warning' %>
	<%= link_to "Personne morale", comptes_infos_personne_morale_path, :class => 'btn btn-large btn-block btn-info' %>
</div>