<div class="row-fluid">
    <div class="span12">
        <h3><%= @adhesion_en_cours.periode_adhesion %></h3>
        <div class="row-fluid">
            <div class="span4">
                <table class="table table-striped table-bordered">
                        <tr>   
                            <th>Montant</th>
                            <td><%= @adhesion_en_cours.montant %></td>
                        </tr>
                        <tr>   
                            <th>Droit de vote</th>
                            <td>
                                <% if @adhesion_en_cours.droit_vote %>
                                    <span class="label label-success">Oui</span>
                                <% else %>
                                    <span class="label label-important">Non</span>
                                <% end %>    
                            </td>
                        </tr>                        
                </table>
            </div>
        </div>
    </div>  
</div>
<hr/>
<% @adhesions_precedentes.each do |a| %> 
    <%= a %>
<% end %> 